[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/asio"]
	path = third_party/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third_party/redis-plus-plus"]
	path = third_party/redis-plus-plus
	url = git@github.com:sewenew/redis-plus-plus.git
[submodule "third_party/soci"]
	path = third_party/soci
	url = git@github.com:SOCI/soci.git
[submodule "third_party/hiredis/hiredis"]
	path = third_party/hiredis/hiredis
	url = git@github.com:redis/hiredis.git
[submodule "third_party/meta"]
	path = third_party/meta
	url = https://github.com/fuyouawa/meta.git
[submodule "third_party/quickjs/quickjs"]
	path = third_party/quickjs/quickjs
	url = git@github.com:quickjs-ng/quickjs.git
[submodule "third_party/multjs"]
	path = third_party/multjs
	url = https://github.com/yuyuaqwq/multjs.git
[submodule "third_party/etcd-cpp-apiv3"]
	path = third_party/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
